.app{
  position: absolute;
  top: 30%;
  left: 40%;
  border: 2px solid black;
  width: 500px;
  font-family: gilroy;
  padding-left: 20px;
  /* display: flex; */
  /* justify-content: center; */
}
h5{
  text-align: center;
}
*{
  padding-bottom: 20px;
}
button:hover{
  background-color: coral;
}
